<app-header></app-header>
<ng2-toasty></ng2-toasty>

<body>
    <h2 class="textchat">Chat</h2>
    <div class="container-fluid h-100">
        <button type="button" routerLink="/chat" class="btn_style save_btn cursor">Admins</button>

        <div class="row justify-content-center h-100">
            <div class="col-md-4 col-xl-3 chat nopad">
                <div class="card mb-sm-3 mb-md-0 contacts_card ">
                    <div class="card-header">
                        <h2>Select User to chat</h2>
                        <br>
                        <div class="input-group">

                            <input type="text" placeholder="Search..." name="" class="form-control search"
                                [(ngModel)]="search">
                            <!-- <div class="input-group-prepend">
                            <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                          </div> -->
                        </div>

                    </div>
                    <div class="card-body contacts_body ">
                        <ul *ngIf="users.length != undefined" class="contacts">
                            <!-- <a>{{users.length}}</a> -->

                            <li *ngFor="let item of users | filter: search;trackBy: trackByFn" class="active"
                                (click)="slectedUser(item)">
                                <div class="d-flex bd-highlight" *ngIf="item.id !== currentId">
                                    <div class="img_cont">
                                        <img class="img_cont" *ngIf="item.avatar" src="{{item.avatar}}"
                                            alt="Profile Image">
                                        <img class="img_cont" *ngIf="!item.avatar" src="assets/profile_img.jpg"
                                            alt="Profile Image">
                                        <!-- <span class="online_icon"></span> -->
                                    </div>
                                    <div class="user_info">
                                        <span>{{item.firstName}}</span>
                                        <!-- <p>Kalid is online</p> -->
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
            <div class="col-md-8 col-xl-6  chat nopad">
                <div class="card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight" *ngIf="activeContact.firstName">
                            <div class="img_cont">
                                <img class="img_cont" *ngIf="activeContact.avatar" src="{{activeContact.avatar}}"
                                    alt="Profile Image">
                                <img class="img_cont" *ngIf="!activeContact.avatar" src="assets/profile_img.jpg"
                                    alt="Profile Image">
                                <!-- <span class="online_icon"></span> -->
                            </div>
                            <div class="user_info">
                                <span>Chat with {{activeContact.firstName}}</span>

                                <p>{{typingMsg}}</p>
                            </div>
                            <div class="video_cam">
                                <!-- <span><i class="fas fa-video"></i></span>
                <span><i class="fas fa-phone"></i></span> -->
                            </div>
                        </div>
                        <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                        <!-- <div class="action_menu">
              <ul>
                <li><i class="fas fa-user-circle"></i> View profile</li>
                <li><i class="fas fa-users"></i> Add to close friends</li>
                <li><i class="fas fa-plus"></i> Add to group</li>
                <li><i class="fas fa-ban"></i> Block</li>
              </ul>
            </div> -->
                    </div>

                    <div *ngIf="chatCollection?.length > 0" class="card-body msg_card_body">
                        <div *ngFor="let chat of chatCollection;">
                            <!-- <div class="img_cont_msg">
                            <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                              class="rounded-circle user_img_msg">
                          </div> -->
                            <div *ngIf="chat.msgFrom !== currentUser.firstName"
                                class="d-flex justify-content-start mb-4">
                                <!-- <p>{{activeContact.firstName }}</p> -->
                                <div class="img_cont_msg">
                                    <img class="rounded-circle user_img_msg" *ngIf="activeContact.avatar"
                                        src="{{activeContact.avatar}}" alt="Profile Image">
                                    <img class="rounded-circle user_img_msg" *ngIf="!activeContact.avatar"
                                        src="assets/profile_img.jpg" alt="Profile Image">
                                </div>
                                <div *ngIf="chat.msgFrom !== currentUser.firstName" class class="msg_cotainer">
                                    {{chat.msg}}
                                    <span class="msg_time">{{chat.date | date:'shortTime'}}</span>
                                </div>
                            </div>

                            <div *ngIf="chat.msgFrom !== activeContact.firstName "
                                class="d-flex justify-content-end mb-4">

                                <!-- <p>{{currentUser.firstName}}</p> -->
                                <div *ngIf="chat.msgFrom !== activeContact.firstName " class="msg_cotainer_send">
                                    {{chat.msg}}
                                    <span class="msg_time_send">{{chat.date | date:'shortTime'}}</span>
                                </div>
                                <div class="img_cont_msg">
                                    <img class="rounded-circle user_img_msg" *ngIf="currentUser.avatar"
                                        src="{{currentUser.avatar}}" alt="Profile Image">
                                    <img class="rounded-circle user_img_msg" *ngIf="!currentUser.avatar"
                                        src="assets/profile_img.jpg" alt="Profile Image">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="card-footer">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text attach_btn">
                                    <a>
                                        <label class="cursor"> <input style="display: none;" #file accept="image/*"
                                                type="file" name="image" />
                                            <i class="fas fa-paperclip" alt="image"></i>
                                        </label>
                                    </a>
                                </span>

                            </div>

                            <textarea name="" class="form-control type_msg" (keyup)=keyUp()
                                placeholder="Type your message..." [(ngModel)]="text"></textarea>

                            <div class="input-group-append">
                                <span class="input-group-text send_btn" (click)=sendMessage()><i
                                        class="fas fa-location-arrow"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>