<!-- <mat-form-field class="margin-333" style="width: 100%">
    <input matInput placeholder="Type to filter all columns" value="" (keyup)='updateFilter($event)'>
</mat-form-field> -->

<div >
    <button class="rasisedBtn" mat-raised-button *ngIf='role.permissions.add==true  || role.permissions.all==true' (click)="add()" color="primary">ADD</button>
 
    <!-- <ngx-datatable class="material bg-white" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="10" [rows]="rows" [columns]="columns">
    </ngx-datatable> -->
    <mat-form-field style="width: 100%;">
        <input matInput placeholder="Search" value="" (keyup)='updateFilter($event)' />
    </mat-form-field>

    <ngx-datatable [rows]="rows" class="material bg-white"  *ngIf='role.permissions.view==true || role.permissions.all==true' [limit]="8" [scrollbarH]="false" [rowHeight]="50" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [sorts]="[{ prop: 'name', dir: 'desc' }]">
        <ngx-datatable-column name="Role Type">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="text-capitalize"> {{row.type}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Permissions.">  
            <ng-template let-row="row" class="text-capitalize" ngx-datatable-cell-template>
                <span *ngIf='row.permissions.view' class="text-capitalize"> view,</span>
                <span  *ngIf='row.permissions.add' class="text-capitalize">add,</span>
                <span  *ngIf='row.permissions.delete' class="text-capitalize">delete,</span>
                <span  *ngIf='row.permissions.edit' class="text-capitalize">edit,</span>
                <span  *ngIf='row.permissions.all' class="text-capitalize"> all</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Id">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row._id}}
            </ng-template>
        </ngx-datatable-column>

        

        <!-- <ngx-datatable-column name="Status">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <mat-chip class="status-{{row.status}}" (click)="changeStaus(row)" matTooltip="status" matTooltipPosition="above" mat-sm-chip selected>{{row.status}}</mat-chip>
            </ng-template>
        </ngx-datatable-column> -->

    </ngx-datatable>
</div>